<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>
  
<sistema>
	<nombre>BACKEND</nombre>
</sistema>

<db>
  	<host>LOCALHOST</host>
  	<port>1521</port>
  	<service>XE</service>
        <user>admin</user>
  	<pass>azsxjn.1</pass>
  	<schema>C##PEDIDOS</schema>
  	<version>1.0.0.0</version>
 </db>
 
</configuration>